/* BASIC STYLES HERE */

.gift-wrap {
  background-image: url("https://images.unsplash.com/photo-1589948516895-db76617cb753?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gift-card {
  height: 32vh;
  width: 20vw;
}
